.banner {
  padding-top: 20%;
  padding-left: 2%;
  background: radial-gradient(circle, #f4c2c1, #b76778, #1b1811, #830987);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-title {
  color: Black;
  font-weight: 800;
  text-align: center;
  font-size: 80px;
}

.fade-in-out-text {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

.fade-in-out-text.visible {
  opacity: 1;
}

.fade-in-out-text.hidden {
  display: none;
}