.banner {
  padding-block: 130px;
  padding-inline: 15px;
  font-family: Georgia, serif;
  background: radial-gradient(
    circle,
    #c9c9c9,
    #b76778,
    #c0c0c0,
    /* #830987, */ #f4c2c1 /* #1b1811 */
  );
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-p {
  color: Black;
  /* font-weight: 8; */
  text-align: center;
  font-size: 30px;
}
.about-title {
  color: Black;
  /* font-weight: 8; */
  text-align: center;
  font-size: 80px;
}

.fade-in-out-text {
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 1;
}

@media (max-width: 800px) {
  .about-title {
    font-size: 55px;
    padding-top: 20%;
  }
  .about-p{
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .about-title {
    font-size: 40px;
    padding-top: 30%;
  }
  .about-p{
    font-size: 25px;
  }
}
