.project {
  height: 100vh;
  padding-top: 7%;
  padding-left: 2%;
  font-family: Georgia, serif;
  color: rgb(21, 20, 20);
  background: linear-gradient(
    -45deg,
    #120e0e,
    #c0c0c0,
    #b76778,
    #c9c9c9,
    #df0837,
    #f4c2c1
    /* #120e0e */
  );
  background-size: 200% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-next::before {
  display: none;
}

.slick-autoplay-button {
  position: absolute;
  top: 2250px;
  right: 30px;
  z-index: 999;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  border: none;
}
.carousel-container {
  margin-bottom: 300px; /* Adjust margin-top as needed */
}
h1 {
  text-transform: uppercase;
  font-size: 4em;
}
.cardholder {
  margin-top: 150px;
  perspective: 600px;
}
.card {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(55deg);
  -webkit-box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
}

.card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
}
.card:hover p {
  background-color: transparent;
}
p.desc {
  z-index: 999;
  position: absolute;
  top: 10px;
  padding: 100px;
}

p.desc:hover {
  color: #120e0e;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 1;
}

@media (max-width: 800px) {
  .project {
    padding-top: 25%;
    font-size: 20px;
  }
  .slick-autoplay-button {
    position: absolute;
    top: 2250px;
    right: 30px;
    z-index: 999;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
  }
}

@media (max-width: 500px) {
  .project {
    padding-top: 20%;
    font-size: 10px;
  }
  .slick-autoplay-button {
    position: absolute;
    top: 2300px;
    right: 30px;
    z-index: 999;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
  }
}
