.skills {
  height: 100vh;
  padding-top: 12%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Georgia, serif;
  color: rgb(21, 20, 20);
  background: #ffafbd; /* fallback for old browsers */
}

.skill-group {
  display: inline-block;
  height: 65vh;
  width: 30%;
  margin-right: 5%;
  /* background-color:#b76778 ; */
  background: linear-gradient(-45deg, #ffafbd, #ef6281);
  padding: 20px;
  border-radius: 100px;
  box-shadow: 1px 5px 7px rgba(1, 2, 3, 4);
}

.skill-group:last-child {
  margin-right: 0;
}

h2 {
  font-size: 40px;

  
}

/* ul {
  list-style-type: none;
  padding: 10%;
}

li {
  margin-bottom: 5px;
} */
